*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;
}

.container{
    width: 50%;
    /* height: 700px; */
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.form_elements{
    display: grid;
    /* height: 500px; */
    grid-template-columns: repeat(2,1fr);
    /* grid-template-rows: repeat(5,1fr); */
    grid-column-gap: 10%;
    grid-row-gap: 10px;
}

.form_control{
    display: flex;
    flex-direction: column;
}
.element5{
    grid-column: 1/3;
}
.input{
    height: 50px;
}

.form_button{
    display: flex;
    justify-content: end;
    /* width: 40%; */
}
button{
    /* width: 100%; */
    padding: 10px;
    background-color: red;
    color: white;
}
button:hover{
    background-color: green;
    color: white;
}
